<div class="mt-2">
  <% if concert.sold_out? %>
    <%= content_tag :p, "Sold out", class: "has-text-danger-dark" %>
  <% elsif concert.remaining_ticket_count <= 100 %>
    <%= content_tag :p, "Only #{concert.remaining_ticket_count} tickets remaining", class: "has-text-warning-dark" %>
  <% else %>
    <%= content_tag :p, "Remaining tickets: #{concert.remaining_ticket_count}", class: "has-text-info-dark" %>
  <% end %>
</div>
